
td.pag {
    padding-left: 40%;
    background-color: #282a2b;
    padding-bottom: 5px;
    padding-top: 5px;
}

.fundo {
    background-image: url("../img/fundo.jpg");
    background-size: 100%;
    height: 649px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login {
    width: 370px;
    opacity: 0.8;
    background-color: white;
    height: 250px;
    border: solid 1px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    position:relative;
    display: table;
    top:150px;
}

.login-img {
    background-image: url("../img/AgroCota.png");
    background-size: 325px;
    background-repeat:no-repeat ;
    height: 110px;
}
    
.parametros {
    font-size: 13px;
    border: solid 1px;
    text-align: center;
}

.up {
    position: relative;
    bottom: 105px;
    color: white;
    font-size: 15px;
}

.principal {
    color: #ecb242;;
}

.footer{
    position: relative;
    bottom: 55;
}

.cloud {
    display:table;
    margin:0 auto 0 auto;
    margin-top: -50px;
}

.background-ID {
    background:#282a2b;
    border: solid 1px;
    font-size: 19px;
    text-align: center;
    width: 355px;
    color: #0087ff;
}

.up {
    position: relative;
    bottom: 120px;
    color: white;
    font-size: 15px;
}

.grid {
    position: relative;
    top: 20px;
    bottom: 70px;
}

.cloud {
    display:table;
    margin:0 auto 0 auto;
    position: relative;
    top: 35px;
}

.footer {
    margin-left: 10px;
    top: -30px;
}


.fundo-p{
background:url(../img/paisagem.png) no-repeat;
background-size: 100%;
width: 100%;
height: 500px;

}

.transparencia{
    opacity: 71%;
    background-color: white;
    position: relative;
    top: 2%;
    width: 98%;
    height: 97%;
    left: 1%;
    border: solid 1px;
    border-radius: 9px;
}

h2 {
    padding: 25px;
}

.vermelho{
    color: red;
    margin: -1%;
    margin-left: 25px;
}

.Tempo{
    color:white;
}

.movi{
    position: relative;
    bottom: 456px;
    left: 45%;
    width: 40%;
    margin-bottom: -315px;
}

@media (max-width: 575.98px) {


    .login {
        width: 300px;
        opacity: 0.8;
        background-color: white;
        height: 250px;
        border: solid 1px;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        position:relative;
        display: table;
        top:150px;
    }

    .login-img {
        background-image: url("../img/AgroCota.png");
        background-size: 260px;
        background-repeat: no-repeat;
        height: 110px;
    }

    label {
        display: flex;
        margin-bottom: .5rem;
    }

    .fundo {      
        height: 1600px;
        background-size: cover;    
    }  
    
    .movi{
        position: relative;
        bottom: 440px;
        left: 57%;
        width: 40%;
        margin-bottom: -315px;
    }

    .fundo-p{
        background:url(../img/paisagem.png) no-repeat;
        background-size: 225%;
        width: 100%;
        height: 500px;
        
        }

        td.pag {
    padding-left: 20%;
    background-color: #282a2b;
    padding-bottom: 5px;
    padding-top: 5px;
}

  
}

   

    
